## VARS DwC conversion - larger data set (all species observed in 2001)

Resources:
- https://dwc.tdwg.org/terms/
- https://tools.gbif.org/dwca-validator/extension.do?id=dwc:Occurrence
- https://www.mbari.org/products/research-software/video-annotation-and-reference-system-vars/query-interface/advanced-user-guide/
- https://www.gbif.org/data-quality-requirements-occurrences

In [1]:
## Imports

import pandas as pd
import numpy as np

import re # for extracting logon info from text file

import jaydebeapi # for connecting to VARS db
import VARS # for connecting to VARS db

from datetime import datetime # for handling dates
import pytz # for handling time zones

import urllib.request, urllib.parse, json # for dealing with WoRMS API and output
import WoRMS # functions for querying WoRMS REST API

### Obtain data from VARS database

In [2]:
## Extract logon information from text file

# Get list of each line in file
filename = 'VARS_logon_info.txt'
f = open(filename, 'r')
lines = f.readlines()
f.close()

# Function for extracting information from lines
def get_single_quoted_text(s):
    """ 
    Takes string s and returns any text in s that is between the first set of single quotes, removing whitespace. 
    
    Example:
    s = "What if there's more ' than one' sest of single' quotes?"
    get_single_quoted_text(s) --> 's more'
    
    """
    
    extracted_text = re.search('''(?<=')\s*[^']+?\s*(?=')''', s)
    return(extracted_text.group().strip())

# Assign logon info
dr = get_single_quoted_text(lines[2])
name = get_single_quoted_text(lines[3])
pw = get_single_quoted_text(lines[4])
un = get_single_quoted_text(lines[5])
url = get_single_quoted_text(lines[6])

An explanation of the regex in get_single_quoted_text() can be found here: <br>
https://stackoverflow.com/questions/42002931/regex-extract-string-between-single-quotes-trim-whitespace?rq=1

In [10]:
## Build SQL query

sql = """
        SELECT index_recorded_timestamp,
               observation_uuid,
               concept,
               observation_group,
               observer,
               image_url,
               depth_meters,
               latitude,
               longitude,
               oxygen_ml_per_l,
               psi,
               salinity,
               temperature_celsius,
               video_uri,
               video_sequence_name,
               chief_scientist
        FROM annotations a
        WHERE NOT EXISTS (
           SELECT DISTINCT observation_uuid
           FROM annotations b
           WHERE (
             (  -- Delete last 2 years of annotations
             index_recorded_timestamp > DATEADD([year], - 2, GETDATE()) OR
             index_recorded_timestamp IS NULL OR
             index_recorded_timestamp < CAST('1970-01-02' AS datetime)
             )
           OR ( -- Delete embargoes by dive
             dive_number IN ('Ventana 50', 'Ventana 217', 'Ventana 218', 'Ventana 248')
              )
           OR (
             dive_number IN ('Tiburon 1001', 'Tiburon 1029', 'Tiburon 1030', 'Tiburon 1031', 'Tiburon 1032', 'Tiburon 1033', 'Tiburon 1034')
             )
           OR ( -- Delete embargoes by selectedConcept
             concept IN (
                 'Aegina sp. 1',
                 'Ctenophora',
                 'Cydippida 2',
                 'Cydippida',
                 'Intacta',
                 'Llyria',
                 'Lyrocteis',
                 'Lyroctenidae',
                 'Mertensia',
                 'Mertensiidae sp. A',
                 'Mystery Mollusc',
                 'Mystery Mollusc',
                 'Physonectae sp. 1',
                 'Platyctenida sp. 1',
                 'Platyctenida',
                 'Thalassocalycida sp. 1',
                 'Thalassocalycida',
                 'Thliptodon sp. A',
                 'Tjalfiella tristoma',
                 'Tjalfiella',
                 'Tjalfiellidae',
                 'Tuscarantha braueri',
                 'Tuscarantha luciae',
                 'Tuscarantha',
                 'Tuscaretta globosa',
                 'Tuscaretta',
                 'Tuscaridium cygneum',
                 'Tuscaridium',
                 'Tuscarilla campanella',
                 'Tuscarilla nationalis',
                 'Tuscarilla similis',
                 'Tuscarilla',
                 'Tuscarora',
                 'Tuscaroridae'
                 )
            )
        ) AND a.observation_uuid = b.observation_uuid
    ) AND index_recorded_timestamp >= CAST('2001-01-01' AS datetime) 
      AND index_recorded_timestamp <= CAST('2001-12-31' AS datetime)
    """

In [11]:
## Query the database

# Get connection
conn = VARS.get_db_conn(dr, url, un, pw, name)

# Submit query
data = VARS.get_data(conn, sql)

# Close connection
conn.close()

In [12]:
## Check data is there

print(data.shape)
data.head()

(210576, 16)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,2001-05-14 23:50:03,53CF02AF-535F-41AE-B31E-4BCAB4F39A56,manipulator,ROV,vars,http://search.mbari.org/ARCHIVE/frameGrabs/Tib...,1948.599976,21.742367,-159.504933,2.07,320.799988,34.594002,2.407,urn:tid:mbari.org:T0324-09,Tiburon 0324,David Clague
1,2001-05-14 23:50:03,E9881AC2-AD21-4420-B2DD-3C4A73645E92,Holothuroidea,ROV,vars,http://search.mbari.org/ARCHIVE/frameGrabs/Tib...,1948.599976,21.742367,-159.504933,2.07,320.799988,34.594002,2.407,urn:tid:mbari.org:T0324-09,Tiburon 0324,David Clague
2,2001-07-05 21:16:45,5F374B81-172F-4888-8C2B-1489E9C8A366,Forskalia,ROV,schlin,http://search.mbari.org/ARCHIVE/frameGrabs/Ven...,98.400002,36.702446,-122.059237,2.55,329.500000,34.019001,9.307,urn:tid:mbari.org:V2016-05,Ventana 2016,Rob Sherlock
3,2001-07-05 21:16:45,5F374B81-172F-4888-8C2B-1489E9C8A366,Forskalia,ROV,schlin,http://search.mbari.org/ARCHIVE/frameGrabs/Ven...,98.400002,36.702446,-122.059237,2.55,329.500000,34.019001,9.307,urn:tid:mbari.org:V2016-05,Ventana 2016,Rob Sherlock
4,2001-07-05 21:16:45,5F374B81-172F-4888-8C2B-1489E9C8A366,Forskalia,ROV,schlin,http://search.mbari.org/ARCHIVE/frameGrabs/Ven...,98.400002,36.702446,-122.059237,2.55,329.500000,34.019001,9.307,urn:tid:mbari.org:V2016-05,Ventana 2016,Rob Sherlock

**Note:** For some reason, this query didn't return any column names. I'll add them here...

In [15]:
## Add column names

data.rename(columns={
    0:'index_recorded_timestamp',
    1:'observation_uuid',
    2:'concept',
    3:'observation_group',
    4:'observer',
    5:'image_url',
    6:'depth_meters',
    7:'latitude',
    8:'longitude',
    9:'oxygen_ml_per_l',
    10:'psi',
    11:'salinity',
    12:'temperature_celsius',
    13:'video_uri',
    14:'video_sequence_name',
    15:'chief_scientist'
}, inplace=True)

data.head()

,index_recorded_timestamp,observation_uuid,concept,observation_group,observer,image_url,depth_meters,latitude,longitude,oxygen_ml_per_l,psi,salinity,temperature_celsius,video_uri,video_sequence_name,chief_scientist
0,2001-05-14 23:50:03,53CF02AF-535F-41AE-B31E-4BCAB4F39A56,manipulator,ROV,vars,http://search.mbari.org/ARCHIVE/frameGrabs/Tib...,1948.599976,21.742367,-159.504933,2.07,320.799988,34.594002,2.407,urn:tid:mbari.org:T0324-09,Tiburon 0324,David Clague
1,2001-05-14 23:50:03,E9881AC2-AD21-4420-B2DD-3C4A73645E92,Holothuroidea,ROV,vars,http://search.mbari.org/ARCHIVE/frameGrabs/Tib...,1948.599976,21.742367,-159.504933,2.07,320.799988,34.594002,2.407,urn:tid:mbari.org:T0324-09,Tiburon 0324,David Clague
2,2001-07-05 21:16:45,5F374B81-172F-4888-8C2B-1489E9C8A366,Forskalia,ROV,schlin,http://search.mbari.org/ARCHIVE/frameGrabs/Ven...,98.400002,36.702446,-122.059237,2.55,329.500000,34.019001,9.307,urn:tid:mbari.org:V2016-05,Ventana 2016,Rob Sherlock
3,2001-07-05 21:16:45,5F374B81-172F-4888-8C2B-1489E9C8A366,Forskalia,ROV,schlin,http://search.mbari.org/ARCHIVE/frameGrabs/Ven...,98.400002,36.702446,-122.059237,2.55,329.500000,34.019001,9.307,urn:tid:mbari.org:V2016-05,Ventana 2016,Rob Sherlock
4,2001-07-05 21:16:45,5F374B81-172F-4888-8C2B-1489E9C8A366,Forskalia,ROV,schlin,http://search.mbari.org/ARCHIVE/frameGrabs/Ven...,98.400002,36.702446,-122.059237,2.55,329.500000,34.019001,9.307,urn:tid:mbari.org:V2016-05,Ventana 2016,Rob Sherlock

In [16]:
## Save

data.to_csv('VARS_2001_data.csv', index=False, na_rep='NaN')

### Read in saved data (if not pulled directly from the database)

In [20]:
## Load csv

path = ''
filename = 'VARS_2001_data.csv'
data = pd.read_csv(path+filename, dtype={'image_url': object})

print(data.shape)
data.head()

(210576, 16)

,index_recorded_timestamp,observation_uuid,concept,observation_group,observer,image_url,depth_meters,latitude,longitude,oxygen_ml_per_l,psi,salinity,temperature_celsius,video_uri,video_sequence_name,chief_scientist
0,2001-05-14 23:50:03,53CF02AF-535F-41AE-B31E-4BCAB4F39A56,manipulator,ROV,vars,http://search.mbari.org/ARCHIVE/frameGrabs/Tib...,1948.599976,21.742367,-159.504933,2.07,320.799988,34.594002,2.407,urn:tid:mbari.org:T0324-09,Tiburon 0324,David Clague
1,2001-05-14 23:50:03,E9881AC2-AD21-4420-B2DD-3C4A73645E92,Holothuroidea,ROV,vars,http://search.mbari.org/ARCHIVE/frameGrabs/Tib...,1948.599976,21.742367,-159.504933,2.07,320.799988,34.594002,2.407,urn:tid:mbari.org:T0324-09,Tiburon 0324,David Clague
2,2001-07-05 21:16:45,5F374B81-172F-4888-8C2B-1489E9C8A366,Forskalia,ROV,schlin,http://search.mbari.org/ARCHIVE/frameGrabs/Ven...,98.400002,36.702446,-122.059237,2.55,329.500000,34.019001,9.307,urn:tid:mbari.org:V2016-05,Ventana 2016,Rob Sherlock
3,2001-07-05 21:16:45,5F374B81-172F-4888-8C2B-1489E9C8A366,Forskalia,ROV,schlin,http://search.mbari.org/ARCHIVE/frameGrabs/Ven...,98.400002,36.702446,-122.059237,2.55,329.500000,34.019001,9.307,urn:tid:mbari.org:V2016-05,Ventana 2016,Rob Sherlock
4,2001-07-05 21:16:45,5F374B81-172F-4888-8C2B-1489E9C8A366,Forskalia,ROV,schlin,http://search.mbari.org/ARCHIVE/frameGrabs/Ven...,98.400002,36.702446,-122.059237,2.55,329.500000,34.019001,9.307,urn:tid:mbari.org:V2016-05,Ventana 2016,Rob Sherlock

### Pre-processing

In [22]:
## Drop duplicate rows that arise from associations, which we don't care about here

data = data.drop_duplicates()
print(data.shape)
data.head()

(172102, 16)

,index_recorded_timestamp,observation_uuid,concept,observation_group,observer,image_url,depth_meters,latitude,longitude,oxygen_ml_per_l,psi,salinity,temperature_celsius,video_uri,video_sequence_name,chief_scientist
0,2001-05-14 23:50:03,53CF02AF-535F-41AE-B31E-4BCAB4F39A56,manipulator,ROV,vars,http://search.mbari.org/ARCHIVE/frameGrabs/Tib...,1948.599976,21.742367,-159.504933,2.07,320.799988,34.594002,2.407,urn:tid:mbari.org:T0324-09,Tiburon 0324,David Clague
1,2001-05-14 23:50:03,E9881AC2-AD21-4420-B2DD-3C4A73645E92,Holothuroidea,ROV,vars,http://search.mbari.org/ARCHIVE/frameGrabs/Tib...,1948.599976,21.742367,-159.504933,2.07,320.799988,34.594002,2.407,urn:tid:mbari.org:T0324-09,Tiburon 0324,David Clague
2,2001-07-05 21:16:45,5F374B81-172F-4888-8C2B-1489E9C8A366,Forskalia,ROV,schlin,http://search.mbari.org/ARCHIVE/frameGrabs/Ven...,98.400002,36.702446,-122.059237,2.55,329.500000,34.019001,9.307,urn:tid:mbari.org:V2016-05,Ventana 2016,Rob Sherlock
5,2001-10-03 17:15:41,C283DC75-BB9A-4E98-9E72-BC8EABC6EED9,rock,ROV,svonthun,http://search.mbari.org/ARCHIVE/frameGrabs/Ven...,881.400024,36.760986,-121.984398,0.37,255.600006,34.513000,4.420,urn:tid:mbari.org:V2076-02,Ventana 2076,Charlie Paull
6,2001-10-03 17:15:41,EBE21573-7B5D-422B-87ED-83CB16F1D611,ledge,ROV,svonthun,http://search.mbari.org/ARCHIVE/frameGrabs/Ven...,881.400024,36.760986,-121.984398,0.37,255.600006,34.513000,4.420,urn:tid:mbari.org:V2076-02,Ventana 2076,Charlie Paull

### Convert

In [24]:
## Start with basic event data and change headings

converted = data[['index_recorded_timestamp', 'video_sequence_name', 'observation_group', 'chief_scientist']]
converted = converted.rename(columns={
    'index_recorded_timestamp':'eventDate',
    'video_sequence_name':'eventID',
    'observation_group':'samplingProtocol',
    'chief_scientist':'recordedBy'
})
converted.head()

             eventDate       eventID samplingProtocol     recordedBy
0  2001-05-14 23:50:03  Tiburon 0324              ROV   David Clague
1  2001-05-14 23:50:03  Tiburon 0324              ROV   David Clague
2  2001-07-05 21:16:45  Ventana 2016              ROV   Rob Sherlock
5  2001-10-03 17:15:41  Ventana 2076              ROV  Charlie Paull
6  2001-10-03 17:15:41  Ventana 2076              ROV  Charlie Paull

In [25]:
## Remove whitespace from eventID

converted['eventID'] = [event.replace(' ', '_') for event in converted['eventID']]
converted.head()

             eventDate       eventID samplingProtocol     recordedBy
0  2001-05-14 23:50:03  Tiburon_0324              ROV   David Clague
1  2001-05-14 23:50:03  Tiburon_0324              ROV   David Clague
2  2001-07-05 21:16:45  Ventana_2016              ROV   Rob Sherlock
5  2001-10-03 17:15:41  Ventana_2076              ROV  Charlie Paull
6  2001-10-03 17:15:41  Ventana_2076              ROV  Charlie Paull

**Note** that this code also places an underscore between 'Doc' and 'Ricketts'. It's possible that using 'DocRicketts' could be preferable.

In [26]:
## Format eventDate

formatted = []

for dt in converted['eventDate']:
    
    # Convert string to datetime
    try:
        dt = datetime.strptime(dt, '%Y-%m-%d %H:%M:%S.%f') # some datetimes have milliseconds
    except ValueError:
        dt = datetime.strptime(dt, '%Y-%m-%d %H:%M:%S')
        
    # Assign UTC timezone
    utc = pytz.UTC
    dt = dt.astimezone(utc)
    
    # Put in ISO format string
    dt = dt.isoformat()
    
    # Save in list
    formatted.append(dt)

converted['eventDate'] = formatted
converted.head()

                   eventDate       eventID samplingProtocol     recordedBy
0  2001-05-15T06:50:03+00:00  Tiburon_0324              ROV   David Clague
1  2001-05-15T06:50:03+00:00  Tiburon_0324              ROV   David Clague
2  2001-07-06T04:16:45+00:00  Ventana_2016              ROV   Rob Sherlock
5  2001-10-04T00:15:41+00:00  Ventana_2076              ROV  Charlie Paull
6  2001-10-04T00:15:41+00:00  Ventana_2076              ROV  Charlie Paull

In [27]:
## Add in occurrence-related columns from data, renaming as needed

converted['occurrenceID'] = data['observation_uuid']
converted['scientificName'] = data['concept']
converted['identifiedBy'] = data['observer']
converted['minimumDepthInMeters'] = data['depth_meters']
converted['maximumDepthInMeters'] = data['depth_meters']
converted['decimalLatitude'] = data['latitude']
converted['decimalLongitude'] = data['longitude']
converted['dissolvedOxygenInMLPerL'] = data['oxygen_ml_per_l']
converted['pressureInPsi'] = data['psi']
converted['salinity'] = data['salinity']
converted['temperatureInCelsius'] = data['temperature_celsius']
converted['image_url'] = data['image_url']
converted['video_uri'] = data['video_uri']
converted.head()

,eventDate,eventID,samplingProtocol,recordedBy,occurrenceID,scientificName,identifiedBy,minimumDepthInMeters,maximumDepthInMeters,decimalLatitude,decimalLongitude,dissolvedOxygenInMLPerL,pressureInPsi,salinity,temperatureInCelsius,image_url,video_uri
0,2001-05-15T06:50:03+00:00,Tiburon_0324,ROV,David Clague,53CF02AF-535F-41AE-B31E-4BCAB4F39A56,manipulator,vars,1948.599976,1948.599976,21.742367,-159.504933,2.07,320.799988,34.594002,2.407,http://search.mbari.org/ARCHIVE/frameGrabs/Tib...,urn:tid:mbari.org:T0324-09
1,2001-05-15T06:50:03+00:00,Tiburon_0324,ROV,David Clague,E9881AC2-AD21-4420-B2DD-3C4A73645E92,Holothuroidea,vars,1948.599976,1948.599976,21.742367,-159.504933,2.07,320.799988,34.594002,2.407,http://search.mbari.org/ARCHIVE/frameGrabs/Tib...,urn:tid:mbari.org:T0324-09
2,2001-07-06T04:16:45+00:00,Ventana_2016,ROV,Rob Sherlock,5F374B81-172F-4888-8C2B-1489E9C8A366,Forskalia,schlin,98.400002,98.400002,36.702446,-122.059237,2.55,329.500000,34.019001,9.307,http://search.mbari.org/ARCHIVE/frameGrabs/Ven...,urn:tid:mbari.org:V2016-05
5,2001-10-04T00:15:41+00:00,Ventana_2076,ROV,Charlie Paull,C283DC75-BB9A-4E98-9E72-BC8EABC6EED9,rock,svonthun,881.400024,881.400024,36.760986,-121.984398,0.37,255.600006,34.513000,4.420,http://search.mbari.org/ARCHIVE/frameGrabs/Ven...,urn:tid:mbari.org:V2076-02
6,2001-10-04T00:15:41+00:00,Ventana_2076,ROV,Charlie Paull,EBE21573-7B5D-422B-87ED-83CB16F1D611,ledge,svonthun,881.400024,881.400024,36.760986,-121.984398,0.37,255.600006,34.513000,4.420,http://search.mbari.org/ARCHIVE/frameGrabs/Ven...,urn:tid:mbari.org:V2076-02

In [28]:
## Add coordinateUncertaintyInMeters 

converted['coordinateUncertaintyInMeters'] = round(converted['minimumDepthInMeters']*0.03, 2)
converted.head()

,eventDate,eventID,samplingProtocol,recordedBy,occurrenceID,scientificName,identifiedBy,minimumDepthInMeters,maximumDepthInMeters,decimalLatitude,decimalLongitude,dissolvedOxygenInMLPerL,pressureInPsi,salinity,temperatureInCelsius,image_url,video_uri,coordinateUncertaintyInMeters
0,2001-05-15T06:50:03+00:00,Tiburon_0324,ROV,David Clague,53CF02AF-535F-41AE-B31E-4BCAB4F39A56,manipulator,vars,1948.599976,1948.599976,21.742367,-159.504933,2.07,320.799988,34.594002,2.407,http://search.mbari.org/ARCHIVE/frameGrabs/Tib...,urn:tid:mbari.org:T0324-09,58.46
1,2001-05-15T06:50:03+00:00,Tiburon_0324,ROV,David Clague,E9881AC2-AD21-4420-B2DD-3C4A73645E92,Holothuroidea,vars,1948.599976,1948.599976,21.742367,-159.504933,2.07,320.799988,34.594002,2.407,http://search.mbari.org/ARCHIVE/frameGrabs/Tib...,urn:tid:mbari.org:T0324-09,58.46
2,2001-07-06T04:16:45+00:00,Ventana_2016,ROV,Rob Sherlock,5F374B81-172F-4888-8C2B-1489E9C8A366,Forskalia,schlin,98.400002,98.400002,36.702446,-122.059237,2.55,329.500000,34.019001,9.307,http://search.mbari.org/ARCHIVE/frameGrabs/Ven...,urn:tid:mbari.org:V2016-05,2.95
5,2001-10-04T00:15:41+00:00,Ventana_2076,ROV,Charlie Paull,C283DC75-BB9A-4E98-9E72-BC8EABC6EED9,rock,svonthun,881.400024,881.400024,36.760986,-121.984398,0.37,255.600006,34.513000,4.420,http://search.mbari.org/ARCHIVE/frameGrabs/Ven...,urn:tid:mbari.org:V2076-02,26.44
6,2001-10-04T00:15:41+00:00,Ventana_2076,ROV,Charlie Paull,EBE21573-7B5D-422B-87ED-83CB16F1D611,ledge,svonthun,881.400024,881.400024,36.760986,-121.984398,0.37,255.600006,34.513000,4.420,http://search.mbari.org/ARCHIVE/frameGrabs/Ven...,urn:tid:mbari.org:V2076-02,26.44

**Note** that the calculation for coordinateUncertaintyInMeters may be more complex once I've talked to Dave Caress. At the moment, I've just used a rule of thumb that Brian gave me that he may or may not have remembered correctly: that uncertainty goes like 3% of depth. Also, I've somewhat arbitrarily rounded to two decimal places. **It might be worth asking whether the depths, which are reported to 6 decimal places, are actually that accurate. Unlikely.**

In [37]:
## Get a list of unique species names

converted['scientificName'] = [name.lower().strip() for name in converted['scientificName']]
names = converted['scientificName'].unique()

In [31]:
%%time

## Look up names in WoRMS and save matched name, name ID and taxon ID to dicts ----- TAKES ~ 15 MINUTES TO DO THE ENTIRE NAMES LIST

name_id_dic, name_dic, id_dic = WoRMS.run_get_worms_from_scientific_name(names)

Url didn't work, check name,  manipulator
Url didn't work, check name,  rock
Url didn't work, check name,  ledge
Url didn't work, check name,  Hydromedusae
Url didn't work, check name,  Peeper
Url didn't work, check name,  equipment
Url didn't work, check name,  CO2
Url didn't work, check name,  bacterial
Url didn't work, check name,  Push
Url didn't work, check name,  cobble
Url didn't work, check name,  site
Url didn't work, check name,  basaltic
Url didn't work, check name,  depression
Url didn't work, check name,  sheet
Url didn't work, check name,  rock
Url didn't work, check name,  sediment
Url didn't work, check name,  talus
Url didn't work, check name,  physical
Url didn't work, check name,  GIS
Url didn't work, check name,  Radium
Url didn't work, check name,  TPC
Url didn't work, check name,  carbonate
Url didn't work, check name,  rock
Url didn't work, check name,  tumulus
Url didn't work, check name,  Homerpro
Url didn't work, check name,  Phyllospadix-Zostera
Url didn't work, check name,  Benthic
Url didn't work, check name,  benthic
Url didn't work, check name,  pavement
Url didn't work, check name,  pillow
Url didn't work, check name,  Heat
Url didn't work, check name,  crust
Url didn't work, check name,  bedding
Url didn't work, check name,  sandstone
Url didn't work, check name,  block
Url didn't work, check name,  mudstone
Url didn't work, check name,  gravel
Url didn't work, check name,  boulder
Url didn't work, check name,  sand
Url didn't work, check name,  rubble
Url didn't work, check name,  mud
Url didn't work, check name,  pH
Url didn't work, check name,  gas
Url didn't work, check name,  CO2
Url didn't work, check name,  gas
Url didn't work, check name,  scarp
Url didn't work, check name,  volcaniclastic
Url didn't work, check name,  eggs
Url didn't work, check name,  Suction
Url didn't work, check name,  mud
Url didn't work, check name,  slope
Url didn't work, check name,  Vibracorer
Url didn't work, check name,  cliff
Url didn't work, check name,  basalt
Url didn't work, check name,  locomotory
Url didn't work, check name,  ripples
Url didn't work, check name,  chute
Url didn't work, check name,  sedimentary
Url didn't work, check name,  plastic
Url didn't work, check name,  fault
Url didn't work, check name,  siltstone
Url didn't work, check name,  plastic
Url didn't work, check name,  Osmo
Url didn't work, check name,  probe
Url didn't work, check name,  mound
Url didn't work, check name,  crevice
Url didn't work, check name,  carbon
Url didn't work, check name,  breccia
Url didn't work, check name,  manganese
Url didn't work, check name,  object
Url didn't work, check name,  drawer
Url didn't work, check name,  fry
Url didn't work, check name,  trap
Url didn't work, check name,  Temperature
Url didn't work, check name,  volcanic
Url didn't work, check name,  water
Url didn't work, check name,  cable
Url didn't work, check name,  data
Url didn't work, check name,  mung
Url didn't work, check name,  shell
Url didn't work, check name,  temperature
Url didn't work, check name,  pebble
Url didn't work, check name,  anchor
Url didn't work, check name,  gastrozooid
Url didn't work, check name,  footprint
Url didn't work, check name,  metal
Url didn't work, check name,  Clam
Url didn't work, check name,  Larval
Url didn't work, check name,  sonar
Url didn't work, check name,  line
Url didn't work, check name,  ROV
Url didn't work, check name,  trash
Url didn't work, check name,  lava
Url didn't work, check name,  column
Url didn't work, check name,  manganese
Url didn't work, check name,  can
Url didn't work, check name,  time-lapse
Url didn't work, check name,  Teuthoidea
Url didn't work, check name,  tube
Url didn't work, check name,  sinker
Url didn't work, check name,  Redhead
Url didn't work, check name,  surface
Url didn't work, check name,  elevator
Url didn't work, check name,  kelp
Url didn't work, check name,  military
Url didn't work, check name,  fishing
Url didn't work, check name,  seep
Url didn't work, check name,  ropy
Url didn't work, check name,  ridge
Url didn't work, check name,  CO2
Url didn't work, check name,  fissure
Url didn't work, check name,  slide
Url didn't work, check name,  volcanic
Url didn't work, check name,  scoop
Url didn't work, check name,  cave
Url didn't work, check name,  LRJ
Url didn't work, check name,  burrow
Url didn't work, check name,  cage
Url didn't work, check name,  eggcase
Url didn't work, check name,  fracture
Url didn't work, check name,  clamshell
Url didn't work, check name,  ship
Url didn't work, check name,  beaker
Url didn't work, check name,  bottle
Url didn't work, check name,  Bubble
Url didn't work, check name,  lava
Url didn't work, check name,  ink
Url didn't work, check name,  miscellany
Url didn't work, check name,  shell
Url didn't work, check name,  lava
Url didn't work, check name,  slump
Url didn't work, check name,  marine
Url didn't work, check name,  seismonument
Url didn't work, check name,  connector
Url didn't work, check name,  caisson
Url didn't work, check name,  canyon
Url didn't work, check name,  hole
Url didn't work, check name,  Water-lift
Url didn't work, check name,  wood
Url didn't work, check name,  slump
Url didn't work, check name,  mooring
Url didn't work, check name,  slope
Url didn't work, check name,  lasers
Url didn't work, check name,  grid
Url didn't work, check name,  rope
Url didn't work, check name,  Medusae
Url didn't work, check name,  camera
Url didn't work, check name,  lights
Url didn't work, check name,  vein
Url didn't work, check name,  joint
Url didn't work, check name,  glass
Url didn't work, check name,  Detritus
Url didn't work, check name,  marine
Url didn't work, check name,  chimney
Url didn't work, check name,  pillow
Url didn't work, check name,  human
Url didn't work, check name,  Vibrapeeper
Url didn't work, check name,  pothole
Url didn't work, check name,  carbon
Url didn't work, check name,  ridge
Url didn't work, check name,  skylight
Url didn't work, check name,  iron
Url didn't work, check name,  larvacean
Url didn't work, check name,  groove
Url didn't work, check name,  tire
Url didn't work, check name,  conglomerate
Url didn't work, check name,  sunlit
Url didn't work, check name,  metal
Url didn't work, check name,  Neptunea-Buccinum
Url didn't work, check name,  Doliolinetta
Url didn't work, check name,  bucket
Url didn't work, check name,  55-gallon
Url didn't work, check name,  corehole
Url didn't work, check name,  benthos
Url didn't work, check name,  lava
Url didn't work, check name,  columnar
Url didn't work, check name,  paper
Url didn't work, check name,  clay
Url didn't work, check name,  drill
Url didn't work, check name,  manganese
Url didn't work, check name,  gauge
Url didn't work, check name,  golf
Url didn't work, check name,  Conductivity
Url didn't work, check name,  PVC
Url didn't work, check name,  concrete
Url didn't work, check name,  seismometer
Url didn't work, check name,  carapace
Url didn't work, check name,  ghost
Url didn't work, check name,  lobate
Url didn't work, check name,  Aux
Url didn't work, check name,  organism
Url didn't work, check name,  structured
Url didn't work, check name,  drop
Url didn't work, check name,  fecal
Url didn't work, check name,  Tomopterid
Url didn't work, check name,  Schilling
Url didn't work, check name,  abandoned
Url didn't work, check name,  collapse
Url didn't work, check name,  color
Url didn't work, check name,  venting
Url didn't work, check name,  fabric
Url didn't work, check name,  graduated
Url didn't work, check name,  manufactured
Url didn't work, check name,  plankton
Url didn't work, check name,  settlement
Url didn't work, check name,  skeleton
Url didn't work, check name,  Vitreosalpa
Url didn't work, check name,  detrital
Url didn't work, check name,  single
Url didn't work, check name,  control
Url didn't work, check name,  cardboard
Url didn't work, check name,  dropstone
Url didn't work, check name,  ash
Url didn't work, check name,  volcanic
Url didn't work, check name,  rubber
Url didn't work, check name,  granite
Url didn't work, check name,  polypropylene
Url didn't work, check name,  Sergestid
Url didn't work, check name,  stalk
Url didn't work, check name,  current
Url didn't work, check name,  shell
Url didn't work, check name,  mucous
Url didn't work, check name,  Sebastomus
Url didn't work, check name,  Krill
Url didn't work, check name,  sediment
Url didn't work, check name,  bubbles
Url didn't work, check name,  tether
Url didn't work, check name,  cutter
Url didn't work, check name,  colander
Url didn't work, check name,  corral
Url didn't work, check name,  test
Url didn't work, check name,  Graneledoninae
Url didn't work, check name,  Western
Url didn't work, check name,  lead
Url didn't work, check name,  molt
Url didn't work, check name,  trawl
Url didn't work, check name,  gully
Url didn't work, check name,  back
Url didn't work, check name,  pockmark
Url didn't work, check name,  burrowing
Url didn't work, check name,  bioturbation
Url didn't work, check name,  methane
Url didn't work, check name,  swing
Url didn't work, check name,  Dissolution
Url didn't work, check name,  Ventana
Url didn't work, check name,  shackle
Url didn't work, check name,  crack
Url didn't work, check name,  benthic
Url didn't work, check name,  sequence
Url didn't work, check name,  recovery
Url didn't work, check name,  float
Url didn't work, check name,  field
Url didn't work, check name,  Pyrosomida
Url didn't work, check name,  Acoustic
Url didn't work, check name,  Niskin
Url didn't work, check name,  field
Url didn't work, check name,  Whaling
Url didn't work, check name,  shelf
Url didn't work, check name,  fault
Url didn't work, check name,  channel
Url didn't work, check name,  spicule
Url didn't work, check name,  field
Url didn't work, check name,  rope
Url didn't work, check name,  parasite
Url didn't work, check name,  Funiculina-Halipteris
Url didn't work, check name,  field
Url didn't work, check name,  Tiburon
Url didn't work, check name,  scale
Url didn't work, check name,  arm
Url didn't work, check name,  launch
Url didn't work, check name,  tentacle
Url didn't work, check name,  fecal
Url didn't work, check name,  platform
Url didn't work, check name,  tail
Url didn't work, check name,  stipe
Url didn't work, check name,  drained
Url didn't work, check name,  mud
Url didn't work, check name,  siphon
Url didn't work, check name,  Kraft
Url didn't work, check name,  Hydrate
Url didn't work, check name,  quiver
Wall time: 13min 33s

In [33]:
' Test '.strip().lower()

'test'

In [38]:
names

array(['manipulator', 'holothuroidea', 'forskalia', 'rock', 'ledge',
       'hydromedusae', 'lobata', 'peeper', 'apolemia', 'solmissus',
       'bathochordaeus sinker', 'equipment', 'co2 corral',
       'notobranchaea', 'bacterial mat', 'push corer', 'cobble',
       'octocorallia', 'site marker', 'histioteuthis heteropsis',
       'tiburonia granrojo', 'basaltic lava', 'depression',
       'mitrocoma cellularia', 'sheet flow', 'actiniaria', 'rock outcrop',
       'fritillaria', 'sediment', 'macrouridae', 'talus',
       'stellamedusa ventana', 'physical object', 'gis map',
       'radium sampler', 'munnopsidae', 'tpc', 'bathochordaeus mcnutti',
       'actinopterygii', 'tomopteris nisseni', 'cylinder',
       'vogtia serrata', 'coryphaenoides armatus-yaquinae complex',
       'bathylagus', 'carbonate', 'porifera', 'rock wall', 'tumulus',
       'homerpro', 'nereocystis luetkeana', 'decapoda',
       'phyllospadix-zostera detritus', 'lampocteis cruentiventer',
       'kiyohimea usagi', 'benthic respiration chamber',
       'liponema brevicorne', 'benthic mooring', 'pavement',
       'pillow lava', 'heat flow probe', 'bathyraja microtrachys',
       'brachiopoda', 'crust', 'bedding', 'caryophylliidae', 'echinoidea',
       'thalassocalyce inconstans', 'poeobius meseres', 'sandstone',
       'beroe', 'radiozoa', 'block', 'mudstone', 'gravel', 'boulder',
       'lithodidae', 'brisingida', 'sand', 'rubble', 'lanceolidae', 'mud',
       'galiteuthis phyllura', 'ph probe', 'resomia persica', 'gas',
       'co2 delivery system', 'gas hydrate', 'careproctus melanurus',
       'marrus', 'ophiuroidea', 'nanomia bijuga', 'cookeolus japonicus',
       'scarp', 'crinoidea', 'munneurycope murrayi', 'paraphyllina',
       'resomia dunni', 'volcaniclastic rock', 'crossota', 'euphausiidae',
       'aegina', 'psolus squamatus', 'rathbunaster californicus',
       'paragorgia', 'sebastolobus', 'eggs', 'stomphia', 'harmothoe',
       'suction sampler', 'benthocodon', 'mud ball', 'slope',
       'vibracorer', 'beringraja rhina', 'anthoathecata', 'vesicomyidae',
       'cliff', 'coryphaenoides leptolepis', 'basalt',
       'eukrohnia fowleri', 'locomotory trace', 'benthothuria',
       'bathysiphon', 'pseudusa bostigrinus', 'vampyroteuthis infernalis',
       'ripples', 'sternoptyx', 'chute', 'aeginidae', 'sedimentary rock',
       'pantachogon', 'tunicata', 'fritillariidae', 'plastic',
       'deepstaria', 'octopoteuthis deletron', 'doliopsidae',
       'amblyraja hyperborea', 'aeginura', 'physonectae', 'gigantura',
       'diogenidae', 'fault', 'siltstone', 'hydrozoa', 'scleractinia',
       'rhynchonereella', 'myctophidae', 'plastic bag', 'osmo flow meter',
       'asteroidea', 'probe', 'aphroditidae', 'gonatus', 'haliscera',
       'tomopteris', 'mound', 'chiroteuthis calyx', 'crossota millsae',
       'anthozoa', 'branchiocerianthus imperator', 'flota', 'bathocyroe',
       'calycopsis simulans', 'beroe abyssicola', 'crevice', 'brisaster',
       'dosidicus gigas', 'carbon dioxide hydrate', 'tomopteridae',
       'breccia', 'manganese crust', 'object', 'arctapodema', 'drawer',
       'fry scoop', 'peniagone', 'trap', 'temperature gradient probe',
       'apolemia lanosa', 'gigantocypris dracontovalis', 'aulacoctena',
       'volcanic rock', 'cephalopoda', 'nectonemertes', 'lycodapus',
       'hydroidolina', 'water', 'cable', 'antipatharia', 'hexactinellida',
       'nemertea', 'data logger', 'mung', 'shell', 'temperature',
       'brachyura', 'pennatulacea', 'grimpoteuthis sp. 5', 'atolla',
       'heteropolypus', 'periphyllopsis', 'albatrossia pectoralis',
       'abyssocucumis abyssorum', 'paracallisoma', 'pebble', 'pyrosoma',
       'rhodaliidae', 'anchor', 'laminariales', 'taonius borealis',
       'hormathiidae', 'gastrozooid', 'enypniastes',
       'bathyraja spinosissima', 'graneledone boreopacifica',
       'anguilliformes', 'footprint', 'metal', 'clam raceway',
       'spathoderma californicum', 'graneledone', 'osteodiscus cascadiae',
       'phyllospadix settlement rake', 'larval tray',
       'plesiopenaeus armatus', 'peniagone sp. a', 'pectis', 'bolinopsis',
       'sonar', 'enteroctopus dofleini', 'line', 'rov', 'trash',
       'lava channel', 'pandalus platyceros', 'rhopalonema velatum',
       'pleurobranchaea californica', 'column', 'tergivelum baldwinae',
       'gymnopraia lapislazula', 'manganese oxide', 'can', 'pachycara',
       'time-lapse camera', 'teuthoidea', 'pleuronectiformes', 'swiftia',
       'spectrunculus grandis', 'cidaridae', 'copepoda',
       'vitreledonella richardi', 'tube', 'sinker', 'bathypterois',
       'serrivomer sector', 'redhead sinker', 'praya dubia', 'pandalidae',
       'halitrephes maasi', 'poralia rufescens', 'pannychia moseleyi',
       'oikopleura', 'craseoa lathetica', 'satyrichthys hians',
       'strongylocentrotus', 'nemichthyidae', 'heteropolypus ritteri',
       'gigantocypris', 'pseudobathylagus milleri', 'surface water',
       'psychropotes', 'megalodicopia hians', 'bathydorididae',
       'gonatidae', 'munnopsurus', 'elevator', 'paelopatides confundens',
       'kelp holdfast', 'munneurycope', 'chuniphyes moserae',
       'polychaeta', 'military apparatus', 'doliolida',
       'bathochordaeus stygius', 'pasiphaea', 'nausithoe', 'serrivomer',
       'nectopyramis natans', 'mysida', 'chauliodus macouni',
       'dendrophylliidae', 'erenna cornuta', 'fishing', 'sicyonis sp. 1',
       'seep', 'physophora gilmeri', 'siboglinidae',
       'asthenactis papyraceus', 'bivalvia', 'aegina rosea', 'sebastes',
       'ropy flow', 'melanostigma pammelas', 'chionoecetes tanneri',
       'cestida', 'ridge', 'chaetognatha', 'antimora microlepis',
       'salpida', 'co2 exposure vessel', 'bathyraja trachura',
       'procymbulia', 'fissure', 'chuniphyes multidentata',
       'paramunnopsis', 'slide', 'eptatretus', 'resomia ornicephala',
       'volcanic breccia', 'calycophorae', 'cranchiidae', 'pegantha',
       'bathyctena', 'chaetopterus pugaporcinus', 'scoop bag', 'cave',
       'lrj complex', 'careproctus microstomus', 'burrow',
       'aegina citrea', 'solasteridae', 'bathochordaeus', 'siphonophorae',
       'lycodes', 'merluccius productus', 'cage', 'pterotracheoidea',
       'eggcase', 'lycenchelys', 'fracture', 'protoptilum',
       'gorgonocephalidae', 'metridium', 'actinoscyphia', 'clamshell',
       'bathylagoides wesethi', 'ship', 'beaker', 'bottle',
       'bubble chamber', 'deepstaria enigmatica', 'magnapinna pacifica',
       'appendicularia', 'pseudosagitta lyra', 'lava form',
       'chromatonema', 'gastropoda', 'bathyraja abyssicola',
       'stephanomia', 'ink', 'rhopalonema', 'miscellany',
       'shell fragment', 'lava pillar', 'slump', 'sabellidae',
       'bargmannia', 'paradoliopsis harbisoni', 'salpa',
       'heterochone calyx', 'marine snow', 'leuroglossus stilbius',
       'flota vitjasi', 'kephyes ovata', 'chorilia longipes',
       'elasmobranchii', 'seismonument', 'connector', 'caisson',
       'lophiodes miacanthus', 'mesochordaeus erythrocephalus',
       'psychrolutes phrictus', 'pteraster', 'halitrephes',
       'apostichopus leukothele', 'saccopharyngiformes', 'canyon',
       'gigantocypris agassizii', 'cyema atrum', 'anomura',
       'metridium farcimen', 'mediaster aequalis', 'prayinae',
       'eirenidae', 'clausophyidae', 'hole', 'water-lift', 'wood',
       'slump scarp', 'megalodicopia', 'synallactidae gen. et sp. indet.',
       'pterotrachea', 'clio polita', 'cystisoma',
       'bathypterois grallator', 'crossaster borealis', 'isosicyonis',
       'sergestes', 'mooring', 'slope break', 'pseudusa', 'lasers',
       'galatheidae', 'grid', 'munidopsis kensmithi',
       'strongylocentrotus fragilis', 'bathysaurus mollis', 'zoantharia',
       'rope', 'levinsenia sp. a', 'medusae', 'aeginura grimaldii',
       'rajiformes', 'camera', 'lights', 'vein', 'coryphaenoides filifer',
       'leptothecata', 'bargmannia lata', 'octopoda', 'galiteuthis',
       'sebastes diploproa', 'joint', 'bathyraja', 'aporocidaris milleri',
       'circeaster pullus', 'bathyalcyon robustum',
       'hydrolagus cf. trolli', 'glass', 'halicreas',
       'careproctus filamentosus', 'detritus sampler', 'marine organism',
       'chimney', 'pennatulidae', 'pillow bud', 'gonatus onyx', 'human',
       'solmaris', 'cunina', 'echinorhinus cookei', 'vibrapeeper',
       'corallimorphus', 'apostichopus', 'cyclothone', 'octopus',
       'pothole', 'carbon dioxide', 'ridge crest', 'travisiopsis',
       'eutonina indicans', 'skylight', 'cystechinus loveni',
       'iron oxide', 'coryphaenoides acrolepis', 'coelorinchus doryssus',
       'tromikosoma', 'opisthoteuthis sp. a', 'hollardia',
       'paralepididae', 'periphylla periphylla', 'larvacean house',
       'groove', 'florometra serratissima', 'xenoturbella', 'tire',
       'torquaratoridae sp. 2', 'bathyraja kincaidii', 'conglomerate',
       'synaphobranchidae', 'sunlit water', 'metal fishing trap',
       'corallimorphidae', 'avocettina bowersii', 'chrysogorgiidae',
       'neptunea-buccinum complex', 'doliolinetta', 'actinernus',
       'bucket', 'cirripedia', 'paelopatides', '55-gallon drum',
       'chaetodontidae', 'liparidae sp. 1', 'frillagalma vityazi',
       'neolithodes', 'gorgonocephalus eucnemis', 'corehole',
       'pycnogonida', 'haliscera bigelowi', 'benthos', 'antedonoidea',
       'lamellibrachia', 'chrysaora', 'dasyatis', 'solmundella',
       'lava tube', 'columnar jointed outcrop', 'pasiphaeidae',
       'box corer', 'corallinaceae', 'munidopsis',
       'lycodapus mandibularis', 'embassichthys bathybius',
       'alternatipathes', 'mesoikopleura', 'tactostoma macropus', 'paper',
       'clay', 'drill', 'serpulidae', 'manganese nodule', 'crustacea',
       'anthoptilum lithophilum', 'colobonema sericeum',
       'radiozoa detritus', 'gauge', 'fungiacyathus', 'golf ball',
       'halicreatidae', 'corallimorphus pilatus',
       'coryphaenoides acrolepis-filifer complex', 'conductivity probe',
       'nuculana sp. a', 'gymnothorax berndti', 'botrynema brucei',
       'lophiidae', 'cirrothauma sp. 1', 'pvc pipe',
       'gersemia juliepackardae', 'concrete', 'seismometer',
       'planctoteuthis oligobessa', 'farrea truncata', 'eurhamphaea',
       'careproctus ovigerus', 'tottonophyes enigmatica', 'carapace',
       'chrysogorgia', 'clausophyes moserae', 'deiopea', 'beroida',
       'ptilosarcus gurneyi', 'caecosagitta macrocephala',
       'anotopterus nikparini', 'ghost tail', 'lobate flow',
       'idiacanthus', 'bythitidae', 'anoplopoma fimbria', 'aux camera',
       'organism part', 'structured light', 'boreomysis', 'foraminifera',
       'abraliopsis', 'iosactis vagabunda', 'mediaster', 'aphyonidae',
       'haliphron atlanticus', 'pandea rubra', 'scotoplanes globosa',
       'drop weight', 'asterinidae', 'fecal material', 'euphysa',
       'acanthamunnopsis', 'acanthephyra', 'ceriantharia',
       'grimpoteuthis sp. 1', 'oikopleuridae', 'halistemma',
       'tomopterid eggcase', 'bathysaurus', 'isididae',
       'corallimorpharia', 'bathydorus', 'umbellula', 'liparidae',
       'polynoidae', 'gorgonocephalus', 'bathyraja cf. microtrachys',
       'annelida', 'hastigerinella digitata', 'schilling arm',
       'careproctus longifilis', 'tetrorchis erythrogaster',
       'alepocephalidae', 'caridea', 'zoarcidae', 'ptychogena lactea',
       'solemyidae', 'dipsacaster', 'halicreas minimum',
       'abandoned research equipment', 'lycenchelys crotalinus',
       'histioteuthidae', 'stylasteridae', 'sicyonis',
       'doryteuthis (amerigo) opalescens', 'coelorinchus spilonotus',
       'apristurus spongiceps', 'collapse pit', 'anseropoda insignis',
       'evoplosoma', 'octopodidae', 'aristostomias scintillans',
       'corallium', 'salpa fusiformis', 'color bars', 'venting', 'fabric',
       'hexatrygon bickelli', 'hymenaster', 'careproctus',
       'desmophyes haematogaster', 'apostichopus californicus',
       'phallonemertes', 'cystocrepis setigera', 'macrocystis',
       'umbellulidae', 'munidopsis bracteosa', 'swima',
       'graduated cylinder', 'pomacentridae', 'trachipteridae',
       'solmissus marshalli', 'manufactured wood', 'octopus rubescens',
       'clavularia', 'nototodarus hawaiiensis', 'plankton',
       'settlement trap', 'echinidea', 'pontodora pelagica',
       'solmissus incisa', 'skeleton', 'asteronyx', 'sergestidae',
       'dofleinia', 'lanceola', 'coelorinchus', 'beroe forskalii',
       'fauveliopsidae', 'irregularia', 'bathocyroe fosteri',
       'plesiobatis daviesi', 'amphipoda', 'melanostigma',
       'tromikosoma panamense', 'vitreosalpa gemini',
       'calyptogena pacifica', 'detrital', 'single hole burrow',
       'halosauridae', 'mitrella', 'alariaceae', 'control',
       'thalassocalycidae', 'calliostoma platinum', 'sabellariidae',
       'cardboard', 'euphausia 2', 'pandaloidea', 'gadomus melanopterus',
       'liocranchia', 'phronima sedentaria', 'bacteria',
       'atolla wyvillei', 'cerianthidae', 'benthopectinidae',
       'umbellula lindahli', 'pantachogon haeckeli', 'calycopsidae',
       'hexactinella', 'munnopsinae', 'dropstone', 'neoloricata',
       'calliderma emma', 'ash', 'volcanic glass', 'goniasteridae',
       'paragorgia arborea', 'melamphaidae', 'primnoidae',
       'ceriantharia sp. 1', 'creseis', 'eusergestes similis',
       'rhopalonematidae', 'ophiuridae', 'rubber', 'ophiodon elongatus',
       'hormiphora californensis', 'granite', 'psathyrometra fragilis',
       'polypropylene line', 'alcyonacea', 'perciformes', 'colobonema',
       'funiculina', 'sergestid molt', 'cyclosalpa', 'luciobrotula sp. a',
       'stalk', 'current meter', 'benthodytes', 'bolocera', 'shell hash',
       'mucous string', 'xeneretmus latifrons', 'benthopecten',
       'sebastomus complex', 'krill molt', 'chuniphyes',
       'acanthamunnopsis milleri', 'euphausia', 'microstomus pacificus',
       'sediment probe', 'charistephane',
       'coryphaenoides armatus-leptolepis-yaquinae complex', 'pteropoda',
       'scotoplanes sp. a', 'pelagobia longicirrata', 'prayidae',
       'bubbles', 'tether', 'corolla', 'hormathiidae sp. 1',
       'plexauridae', 'leuckartiara', 'haliscera conica',
       'pseudosagitta maxima', 'halipteris californica', 'bathylagidae',
       'earleria purpurea', 'ceriantharia sp. 2',
       'alepocephalus tenebrosus', 'alciopidae',
       'bolinopsis infundibulum', 'earleria', 'cutter', 'calyptogena',
       'mysidacea', 'pennatula phosphorea', 'doliolidae',
       'benthocodon pedunculata', 'asteronyx loveni', 'pachycerianthus',
       'pandalus', 'luidia foliolata', 'sternoptychidae', 'ampharetidae',
       'xeneretmus', 'tritonia tetraquetra', 'tritoniidae', 'eumedusa',
       'bargmannia elongata', 'solmarisidae', 'parmaturus xaniurus',
       'colander', 'lensia', 'atolla vanhoeffeni', 'corral', 'tiaranna',
       'mysidae', 'hexacorallia', 'lagenorhynchus obliquidens', 'lepas',
       'stomiidae', 'leuroglossus', 'retimohnia sp. a', 'test',
       'actinostoloidea', 'stylasterias forreri', 'osmeridae',
       'lycodes diapterus', 'eutima', 'liriope tetraphylla',
       'graneledoninae', 'zosteraceae', 'lycodes cortezianus',
       'coryphaenoides', 'western flyer', 'hydrolagus colliei',
       'aurelia aurita', 'euchirella bitumida', 'metacarcinus magister',
       'lead line', 'molt', 'doliolum', 'trawl mark', 'phronima',
       'euphausiacea', 'erenna', 'gully', 'cestum veneris', 'back deck',
       'glyptocephalus zachirus', 'pockmark', 'burrowing',
       'ptychogastria polaris', 'velamen parallelum',
       'bioturbation uncategorized', 'coronatae', 'swiftia kofoidi',
       'rosacea', 'ophidiidae', 'echiura', 'paraliparis rosaceus',
       'methane', 'bothidae', 'patiria miniata', 'pannychia', 'munida',
       'agonidae', 'swing arm', 'gastropoda sp. 2', 'cestidae',
       'solmundella bitentaculata', 'ascidiacea', 'phialidium',
       'paralomis', 'eualus macrophthalmus', 'dissolution ball',
       'pagurus tanneri', 'octogonade', 'stomphia didemon', 'ventana',
       'hippasteria', 'galathea', 'beroe cucumis', 'sebastidae',
       'pleurobrachia', 'doliolula equus', 'shackle', 'crack',
       'phaeodaria', 'benthic zone', 'sequence', 'ctenodrilidae',
       'leucothea', 'recovery', 'pectinidae', 'aves', 'apolemiidae',
       'opisthoteuthis', 'float', 'lensia hostile', 'bathocyroidae',
       'modeeria rotunda', 'eukrohnia', 'field of view 76 cm',
       'pyrosomida', 'acantholiparis', 'tetrorchis', 'bolinopsidae',
       'dermasterias', 'acoustic current meter', 'mysidella americana',
       'poeobius 2', 'apristurus brunneus', 'scyliorhinidae', 'niskin',
       'sphaeronectes', 'synodontidae', 'lycodapus fierasfer',
       'field of view', 'anthoptilum grandiflorum', 'gnathophausia',
       'narcomedusae', 'echinodermata', 'phreagena kilmeri',
       'icichthys lockingtoni', 'whaling', 'myxinidae', 'henricia',
       'trachymedusae', 'asterina', 'physophora hydrostatica',
       'annatiara', 'euphysora gigantea', 'asteronyx longifissus',
       'megacalanidae', 'calycopsis', 'pleuronectiformes 2',
       'idiacanthinae', 'laminaria', 'scyphozoa', 'isopoda',
       'cystonectae', 'stomiiformes', 'sipuncula', 'chimaeridae',
       'egregia', 'shelf', 'cuninidae', 'munnopsis', 'scotoplanes',
       'fault scarp', 'gaussia', 'channel', 'anthoptilum', 'spicule',
       'field of view 61 cm', 'majidae', 'cottidae',
       'opisthoteuthis cf. californiana', 'sebastes ruberrimus',
       'benthoctopus', 'tactostoma', 'sergestoidea', 'cordagalma',
       'euryalida', 'rope fishing trap', 'asteronychidae', 'parasite',
       'merlucciidae', 'euplokamis', 'euphysora', 'dendronotus patricki',
       'funiculina-halipteris complex', 'melanostomiinae',
       'gnathophausia ingens', 'animalia', 'field of view 100 cm',
       'talismania bifurcata', 'tiburon', 'microstomus',
       'anarrhichthys ocellatus', 'lycenchelys sp. 1', 'scale',
       'asteriidae', 'resomia', 'sebastes babcocki', 'polyorchis', 'arm',
       'myctophiformes', 'lophiodes', 'polychaeta tube',
       'euphausia pacifica', 'squalus suckleyi', 'launch',
       'idiacanthus antrostomus', 'aequorea', 'galatheoidea',
       'liponematidae', 'apristurus', 'helicosalpa',
       'phacellophora camtschatica', 'paracyathus stearnsii',
       'prionace glauca', 'zalophus', 'asbestopluma', 'tentacle',
       'pennatulacea sp. 3', 'chlorophyta', 'polinicinae', 'lampanyctus',
       'planctoteuthis', 'fecal pellet', 'platform', 'tail', 'stipe',
       'actiniidae sp. 1', 'engraulidae', 'vermetidae', 'tiburonia',
       'zalembius rosaceus', 'drained pillow', 'pandeidae', 'streetsia',
       'nudibranchia', 'mud volcano', 'siphon', 'thaliacea', 'congridae',
       'kraft raptor', 'lilyopsis fluoracantha', 'phyllodocida',
       'calliostoma', 'alciopa', 'hydrate exposure vessel ii', 'cataetyx',
       'rhodophycota', 'quiver'], dtype=object)