# Accessing the VARS database

**From Brian's email, connection params:**

JDBC URL: jdbc:sqlserver://perseus.shore.mbari.org:1433;databaseName=M3_ANNOTATIONS <br>
JDBC Driver class: com.microsoft.sqlserver.jdbc.SQLServerDriver <br>
User: everyone <br>
Password: guest <br>

**Resources:**
- https://docs.sqlalchemy.org/en/13/core/engines.html#postgresql
- For connecting in MATLAB: https://medium.com/@bschlining/accessing-your-database-from-matlab-33469e21a97b

In [1]:
## Imports

import sqlalchemy

In [2]:
sqlalchemy.__version__

'1.3.15'

My first instinct was to try to connect using SQLalchemy:

```python
engine = sqlalchemy.create_engine('mssql://everyone:guest@perseus.shore.mbari.org:1433/M3_ANNOTATIONS') # default driver is pyodbc
conn = engine.connect()
```

But it looks like they don't support MS SQL server with a JDBC driver: <br>
https://stackoverflow.com/questions/47407988/is-there-sqlalchemy-dialect-support-jdbc

SQLite might work, though. I followed the following tutorials: <br>
1. https://www.sqlitetutorial.net/download-install-sqlite/ (Note, I did not download a GUI tool for now)
2. https://www.sqlitetutorial.net/sqlite-java/sqlite-jdbc-driver/

Nope that's not going to work either. I think that's how you use a JDBC driver to connect to an sqlite server.

I might be able to establish a connection using JayDeBeApi. I'm not sure, once this connection is established, how I can pull data down? <br>
https://pypi.org/project/JayDeBeApi/

## Connecting to VARS database using JayDeBeApi

In [3]:
## Imports

import jaydebeapi
import pandas as pd
import numpy as np

In [5]:
## Create connection

drvr_class = 'com.microsoft.sqlserver.jdbc.SQLServerDriver'
url = 'jdbc:sqlserver://perseus.shore.mbari.org:1433;databaseName=M3_ANNOTATIONS'
un = 'everyone'
pw = 'guest'
properties = {'user':un, 'password':pw}
path = 'mssql-jdbc-8.2.2.jre8.jar'

conn = jaydebeapi.connect(drvr_class, url, properties, path)

Ok, after many issues, that seems to have worked. It was originally throwing an Attribute Error ("java.sql.Types has no attribute \_\_javaclass__") in the \_jdbc_connect_jpype function in jaydebeapi. Although I couldn't find the exact error online, it seemed related to another which was due to the newest (0.7.0) installation of JPype being buggy. I used:

```python
pip install --user JPype1==0.6.3 --force-reinstall
```

to install a previous version, and that seems to have fixed it for now.

Source code for jaydebeapi can be found here: <br>
https://pydoc.net/JayDeBeApi/1.1.1/jaydebeapi/

## Retrieving data from VARS database and importing to pandas

In [6]:
## Get a dataframe of all databases on the server (this includes the M3_ANNOTATIONS database we're accessing)

# Set cursor
cursor = conn.cursor()

# Execute sql command
sql = """
        SELECT *
        FROM sys.databases 
      """

cursor.execute(sql)

# Save the output to a pandas df
dbs_df=pd.DataFrame(cursor.fetchall())

dbs_df

,0,1,2,3,4,5,6,7,8,9,...,67,68,69,70,71,72,73,74,75,76
0,master,1,None,[1],2003-04-08 09:13:36.390000,130,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,False,...,None,0,NONE,0,0,DISABLED,False,False,False,True
1,tempdb,2,None,[1],2019-11-27 17:37:22.837000,130,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,False,...,None,0,NONE,60,0,DISABLED,False,False,False,False
2,model,3,None,[1],2003-04-08 09:13:36.390000,130,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,False,...,None,0,NONE,60,0,DISABLED,False,False,False,True
3,msdb,4,None,[1],2016-04-30 00:46:38.773000,130,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,False,...,None,0,NONE,60,0,DISABLED,False,False,False,True
4,M3_ANNOTATIONS,5,None,"[1, 5, 0, 0, 0, 0, 0, 5, 21, 0, 0, 0, -87, 58,...",2017-01-09 11:27:18.100000,130,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,False,...,None,0,NONE,60,0,DISABLED,False,False,False,False
5,M3_VIDEO_ASSETS,6,None,"[1, 5, 0, 0, 0, 0, 0, 5, 21, 0, 0, 0, -87, 58,...",2017-01-09 11:28:21.460000,130,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,False,...,None,0,NONE,60,0,DISABLED,False,False,False,False
6,SEPM,7,None,"[1, 5, 0, 0, 0, 0, 0, 5, 21, 0, 0, 0, -87, 58,...",2017-08-02 14:59:38.200000,130,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,False,...,None,0,NONE,0,0,DISABLED,False,False,False,False
7,MMB,8,None,"[1, 5, 0, 0, 0, 0, 0, 5, 21, 0, 0, 0, -87, 58,...",2017-10-26 09:35:34.797000,130,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,False,...,None,0,NONE,0,0,DISABLED,False,False,False,False
8,EXPD,9,None,"[1, 5, 0, 0, 0, 0, 0, 5, 21, 0, 0, 0, -87, 58,...",2018-05-23 15:34:36.440000,130,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,False,...,None,0,NONE,0,0,DISABLED,False,False,False,False
9,MBARI_Samples,10,None,"[1, 5, 0, 0, 0, 0, 0, 5, 21, 0, 0, 0, -87, 58,...",2018-04-05 12:56:58.160000,130,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,False,...,None,0,NONE,0,0,DISABLED,False,False,False,False
10,VARS,11,None,"[1, 5, 0, 0, 0, 0, 0, 5, 21, 0, 0, 0, -87, 58,...",2018-03-07 08:26:23.663000,130,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,True,...,None,0,NONE,0,0,DISABLED,False,False,False,False
11,ENGDrawings,12,None,"[1, 5, 0, 0, 0, 0, 0, 5, 21, 0, 0, 0, -87, 58,...",2018-01-04 09:01:28.790000,130,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,False,...,None,0,NONE,0,0,DISABLED,False,False,False,False
12,distribution,13,None,[1],2018-02-01 11:45:58.523000,90,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,False,...,None,0,NONE,60,0,DISABLED,False,False,False,False
13,SSDB,14,None,"[1, 5, 0, 0, 0, 0, 0, 5, 21, 0, 0, 0, -87, 58,...",2019-02-13 11:11:15.300000,130,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,False,...,None,0,NONE,0,0,DISABLED,False,False,False,False
14,VARS_IMAGES,15,None,"[1, 5, 0, 0, 0, 0, 0, 5, 21, 0, 0, 0, -87, 58,...",2018-03-07 08:28:54.743000,130,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,False,...,None,0,NONE,0,0,DISABLED,False,False,False,False
15,VARS_KB,16,None,"[1, 5, 0, 0, 0, 0, 0, 5, 21, 0, 0, 0, -87, 58,...",2018-03-07 08:30:04.907000,130,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,False,...,None,0,NONE,0,0,DISABLED,False,False,False,False
16,VARS_VIDEO,17,None,"[1, 5, 0, 0, 0, 0, 0, 5, 21, 0, 0, 0, -87, 58,...",2018-03-07 08:31:45.627000,130,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,False,...,None,0,NONE,0,0,DISABLED,False,False,False,False
17,DSG,18,None,"[1, 5, 0, 0, 0, 0, 0, 5, 21, 0, 0, 0, -87, 58,...",2018-03-13 16:12:56.523000,130,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,False,...,None,0,NONE,0,0,DISABLED,False,False,False,False
18,WHD,19,None,"[1, 5, 0, 0, 0, 0, 0, 5, 21, 0, 0, 0, -87, 58,...",2019-02-14 14:17:42.250000,130,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,False,...,None,0,NONE,0,0,DISABLED,False,False,False,False
19,Team,20,None,"[1, 5, 0, 0, 0, 0, 0, 5, 21, 0, 0, 0, -87, 58,...",2018-06-21 11:16:23.830000,100,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,False,...,None,0,NONE,60,0,DISABLED,False,False,False,False
20,BOG,21,None,"[1, 5, 0, 0, 0, 0, 0, 5, 21, 0, 0, 0, -87, 58,...",2018-06-25 12:49:34.863000,130,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,False,...,None,0,NONE,0,0,DISABLED,False,False,False,False
21,CIP_E,22,None,"[1, 5, 0, 0, 0, 0, 0, 5, 21, 0, 0, 0, -87, 58,...",2018-09-05 15:10:42.263000,130,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,False,...,None,0,NONE,0,0,DISABLED,False,False,False,False
22,Lansweeperdb,23,None,"[1, 5, 0, 0, 0, 0, 0, 5, 21, 0, 0, 0, -87, 58,...",2018-08-15 09:51:20.887000,130,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,False,...,None,0,NONE,60,0,DISABLED,False,False,False,False
23,AssetBank,24,None,"[1, 5, 0, 0, 0, 0, 0, 5, 21, 0, 0, 0, -87, 58,...",2018-09-18 14:29:19.947000,130,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,False,...,None,0,NONE,60,0,DISABLED,False,False,False,False
24,SpotlightPlaybackDatabase,25,None,"[1, 5, 0, 0, 0, 0, 0, 5, 21, 0, 0, 0, -87, 58,...",2018-10-17 14:50:59.930000,130,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,False,...,None,0,NONE,0,0,DISABLED,False,False,False,False
25,SpotlightStatisticsRepository,26,None,"[1, 5, 0, 0, 0, 0, 0, 5, 21, 0, 0, 0, -87, 58,...",2018-10-17 14:53:14.587000,130,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,False,...,None,0,NONE,0,0,DISABLED,False,False,False,False
26,Midwater_Transects,27,None,"[1, 5, 0, 0, 0, 0, 0, 5, 21, 0, 0, 0, -87, 58,...",2018-12-17 14:10:28.430000,130,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,False,...,None,0,NONE,0,0,DISABLED,False,False,False,False
27,Crowd,28,None,"[1, 5, 0, 0, 0, 0, 0, 5, 21, 0, 0, 0, -87, 58,...",2019-01-14 10:37:34,130,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,False,...,None,0,NONE,0,0,DISABLED,False,False,False,False
28,Confluence,29,None,"[1, 5, 0, 0, 0, 0, 0, 5, 21, 0, 0, 0, -87, 58,...",2019-01-14 10:39:18.687000,130,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,False,...,None,0,NONE,0,0,DISABLED,False,False,False,False
29,alf4_1_1,30,None,"[1, 5, 0, 0, 0, 0, 0, 5, 21, 0, 0, 0, -87, 58,...",2019-01-14 10:40:30.790000,130,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,False,...,None,0,NONE,0,0,DISABLED,False,False,False,False
30,MBARItracking,31,None,"[1, 5, 0, 0, 0, 0, 0, 5, 21, 0, 0, 0, -87, 58,...",2019-01-15 13:49:53.467000,130,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,False,...,None,0,NONE,0,0,DISABLED,False,False,False,False
31,AdfsConfiguration,32,None,"[1, 5, 0, 0, 0, 0, 0, 5, 21, 0, 0, 0, -87, 58,...",2019-02-21 12:28:53.830000,130,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,False,...,None,0,NONE,0,0,DISABLED,False,False,False,False
32,AdfsArtifactStore,33,None,"[1, 5, 0, 0, 0, 0, 0, 5, 21, 0, 0, 0, -87, 58,...",2019-02-21 12:30:57.430000,130,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,False,...,None,0,NONE,0,0,DISABLED,False,False,False,False
33,MINIROV_DiveLog,34,None,"[111, -88, 87, -14, 76, -77, -45, 17, -104, 12...",2019-03-10 13:59:48.527000,130,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,False,...,None,0,NONE,60,0,DISABLED,False,False,False,False
34,M3_ANNOTATIONS_ML,35,None,"[1, 5, 0, 0, 0, 0, 0, 5, 21, 0, 0, 0, -87, 58,...",2019-05-13 08:44:46.357000,130,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,False,...,None,0,NONE,60,0,DISABLED,False,False,False,False
35,EDM,36,None,[1],2020-04-06 11:34:00.900000,130,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,False,...,None,0,NONE,60,0,DISABLED,False,False,False,False
36,M3DATAVIS,37,None,"[1, 5, 0, 0, 0, 0, 0, 5, 21, 0, 0, 0, -87, 58,...",2019-06-13 14:06:00.793000,130,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,False,...,None,0,NONE,60,0,DISABLED,False,False,False,False

In [6]:
## Get a dataframe of all tables available in M3_ANNOTATIONS (this includes the annotations view Brian mentioned)

# Set cursor
# cursor = conn.cursor()

# Execute sql command
sql = """
        SELECT TABLE_NAME 
        FROM M3_ANNOTATIONS.INFORMATION_SCHEMA.TABLES 
      """

cursor.execute(sql)

# Save the output to a pandas df
tables_df=pd.DataFrame(cursor.fetchall())

pd.set_option('display.max_rows', None) # Default is pandas.set_option('display.max_rows', 60)
tables_df

                                                    0
0   MSmerge_repl_view_79628697A2CF487CA1B8D0A9034D...
1                                     MSmerge_history
2   MSmerge_repl_view_79628697A2CF487CA1B8D0A9034D...
3   MSmerge_repl_view_79628697A2CF487CA1B8D0A9034D...
4                            MSmerge_agent_parameters
5                                    MSmerge_replinfo
6       MSmerge_ctsv_53D413645718415890801F001EE3FD04
7       MSmerge_tsvw_53D413645718415890801F001EE3FD04
8      MSmerge_genvw_53D413645718415890801F001EE3FD04
9                                    sysmergearticles
10      MSmerge_ctsv_F0288D03839F4B008DCAFA811C51B4C2
11      MSmerge_tsvw_F0288D03839F4B008DCAFA811C51B4C2
12     MSmerge_genvw_F0288D03839F4B008DCAFA811C51B4C2
13      MSmerge_ctsv_52A7790758BA4981ADA0C4E8D4C4C2D4
14      MSmerge_tsvw_52A7790758BA4981ADA0C4E8D4C4C2D4
15     MSmerge_genvw_52A7790758BA4981ADA0C4E8D4C4C2D4
16                              adjust_file_histories
17                                merge_rov_histories
18      MSmerge_ctsv_F10B44BDEE234258AC3F7A66114C25AF
19      MSmerge_tsvw_F10B44BDEE234258AC3F7A66114C25AF
20     MSmerge_genvw_F10B44BDEE234258AC3F7A66114C25AF
21                             MSmerge_conflicts_info
22                                 observation_counts
23                     MSmerge_metadataaction_request
24      MSmerge_ctsv_9337187BB2034E3FAAC5D8881864B038
25                               MSmerge_errorlineage
26      MSmerge_tsvw_9337187BB2034E3FAAC5D8881864B038
27                               sysmergepublications
28     MSmerge_genvw_9337187BB2034E3FAAC5D8881864B038
29      MSmerge_ctsv_F1962E9CC137407A899D94D53211E7B7
30      MSmerge_tsvw_F1962E9CC137407A899D94D53211E7B7
31     MSmerge_genvw_F1962E9CC137407A899D94D53211E7B7
32                             MSmerge_identity_range
33                              sysmergepartitioninfo
34                          sysmergepartitioninfoview
35                             sysmergeschemaarticles
36                       sysmergeextendedarticlesview
37                                  MSmerge_tombstone
38                                 annotations_legacy
39                                   MSmerge_contents
40                                associations_legacy
41                                 MSmerge_genhistory
42                                     imaged_moments
43                            MSmerge_settingshistory
44                                       observations
45                               sysmergeschemachange
46                              sysmergesubsetfilters
47                                       associations
48                             MSdynamicsnapshotviews
49                              MSdynamicsnapshotjobs
50                                   image_references
51                                        annotations
52                            MSmerge_altsyncpartners
53                                     ancillary_data
54                           MSmerge_partition_groups
55        MSmerge_conflict_SHIPS_MERGE_imaged_moments
56                        video_reference_information
57              MSmerge_generation_partition_mappings
58  MSmerge_conflict_SHIPS_MERGE_video_reference_i...
59                 MSmerge_current_partition_mappings
60                              sysmergesubscriptions
61        MSmerge_conflict_SHIPS_MERGE_ancillary_data
62                    MSmerge_past_partition_mappings
63      MSmerge_conflict_SHIPS_MERGE_image_references
64                          MSmerge_dynamic_snapshots
65          MSmerge_conflict_SHIPS_MERGE_observations
66                    MSmerge_supportability_settings
67          MSmerge_conflict_SHIPS_MERGE_associations
68                                   MSmerge_sessions
69                                latest_merge_status
70                                  MSmerge_log_files
71                                     sysreplservers
72                          adjust_rov_tape_histories
73                             MSmerge_articlehistory
74            MSmerge_SHIPS_MERGE_imaged_moments_VIEW
75  MSmerge_SHIPS_MERGE_video_reference_informatio...
76            MSmerge_SHIPS_MERGE_ancillary_data_VIEW
77          MSmerge_SHIPS_MERGE_image_references_VIEW
78              MSmerge_SHIPS_MERGE_observations_VIEW
79              MSmerge_SHIPS_MERGE_associations_VIEW
80  MSmerge_repl_view_79628697A2CF487CA1B8D0A9034D...
81  MSmerge_repl_view_79628697A2CF487CA1B8D0A9034D...
82                                      MSrepl_errors
83  MSmerge_repl_view_79628697A2CF487CA1B8D0A9034D...

In [19]:
## Get some data out of annotations table

# For now, I'm going to use Brian's code to remove embargoed annotations, and select a few species to work with
# Note that the column names in Brian's code are different than those in the annotations view I'm looking at right now, so I've guessed at their analogs
# In addition, I've used WHERE NOT EXISTS rather than WEHRE NOT IN, because of improved efficiency (https://www.sqlshack.com/t-sql-commands-performance-comparison-not-vs-not-exists-vs-left-join-vs-except/)
# Note that NOT EXISTS or LEFT JOIN would be even better, but I didn't want to alter things too much at this stage

sql = """
        SELECT * 
        FROM annotations a
        WHERE NOT EXISTS (
           SELECT DISTINCT observation_uuid
           FROM annotations b
           WHERE (
             (  -- Delete last 2 years of annotations
             index_recorded_timestamp > DATEADD([year], - 2, GETDATE()) OR
             index_recorded_timestamp IS NULL OR
             index_recorded_timestamp < CAST('1970-01-02' AS datetime)
             )
           OR ( -- Delete embargoes by dive
             dive_number IN ('Ventana 50', 'Ventana 217', 'Ventana 218', 'Ventana 248')
              )
           OR (
             dive_number IN ('Tiburon 1001', 'Tiburon 1029', 'Tiburon 1030', 'Tiburon 1031', 'Tiburon 1032', 'Tiburon 1033', 'Tiburon 1034')
             )
           OR ( -- Delete embargoes by selectedConcept
             concept IN (
                 'Aegina sp. 1',
                 'Ctenophora',
                 'Cydippida 2',
                 'Cydippida',
                 'Intacta',
                 'Llyria',
                 'Lyrocteis',
                 'Lyroctenidae',
                 'Mertensia',
                 'Mertensiidae sp. A',
                 'Mystery Mollusc',
                 'Mystery Mollusc',
                 'Physonectae sp. 1',
                 'Platyctenida sp. 1',
                 'Platyctenida',
                 'Thalassocalycida sp. 1',
                 'Thalassocalycida',
                 'Thliptodon sp. A',
                 'Tjalfiella tristoma',
                 'Tjalfiella',
                 'Tjalfiellidae',
                 'Tuscarantha braueri',
                 'Tuscarantha luciae',
                 'Tuscarantha',
                 'Tuscaretta globosa',
                 'Tuscaretta',
                 'Tuscaridium cygneum',
                 'Tuscaridium',
                 'Tuscarilla campanella',
                 'Tuscarilla nationalis',
                 'Tuscarilla similis',
                 'Tuscarilla',
                 'Tuscarora',
                 'Tuscaroridae'
                 )
            )
        ) AND a.observation_uuid = b.observation_uuid
    ) AND concept IN ('Dosidicus', 
                      'Dosidicus gigas', 
                      'Humboldt squid',
                      'Enteroctopodidae', 
                      'Benthoctopus abruptus', 
                      'Benthoctopus leioderma', 
                      'Benthoctopus robustus', 
                      'Enteroctopodidae', 
                      'Muusoctopus', 
                      'Muusoctopus abruptus', 
                      'Muusoctopus leioderma', 
                      'Muusoctopus robustus', 
                      'Octopus leioderma', 
                      'Polypus leioderma',
                      'Patellogastropoda',
                      'true limpet',
                      'Arachnactis') 
    """

records_df = pd.read_sql(sql, conn)

pd.set_option('display.max_rows', 60) # returning to default
records_df

,imaged_moment_uuid,index_elapsed_time_millis,index_recorded_timestamp,index_timecode,observation_uuid,activity,concept,duration_millis,observation_group,observation_timestamp,...,video_description,video_duration_millis,video_name,video_start_timestamp,camera_id,video_sequence_description,video_sequence_name,chief_scientist,dive_number,camera_platform
0,97BD5895-9489-478B-8797-6961D8A770D2,NaN,2001-03-19 22:24:12,04:00:43:27,1040A0BF-2D50-45D2-9C96-35CC80708939,cruise,Dosidicus gigas,None,ROV,2010-10-25 22:10:05.150000,...,None,5529000.0,T0265-04,2001-03-19 20:57:56,Tiburon,None,Tiburon 0265,Bruce Robison,Tiburon 0265,Tiburon
1,97BD5895-9489-478B-8797-6961D8A770D2,NaN,2001-03-19 22:24:12,04:00:43:27,1040A0BF-2D50-45D2-9C96-35CC80708939,cruise,Dosidicus gigas,None,ROV,2010-10-25 22:10:05.150000,...,None,5529000.0,T0265-04,2001-03-19 20:57:56,Tiburon,None,Tiburon 0265,Bruce Robison,Tiburon 0265,Tiburon
2,97BD5895-9489-478B-8797-6961D8A770D2,NaN,2001-03-19 22:24:12,04:00:43:27,1040A0BF-2D50-45D2-9C96-35CC80708939,cruise,Dosidicus gigas,None,ROV,2010-10-25 22:10:05.150000,...,None,5529000.0,T0265-04,2001-03-19 20:57:56,Tiburon,None,Tiburon 0265,Bruce Robison,Tiburon 0265,Tiburon
3,BE6C5C5B-8B04-45F0-BD48-C3EBE187B2EB,NaN,2004-05-03 17:27:02,03:24:58:15,A3DE4416-5B67-4A10-A6BC-AE9A99552A13,cruise,Dosidicus gigas,None,ROV,2004-05-03 18:29:03,...,None,3600000.0,T0666-04,2004-05-03 17:12:42,Tiburon,None,Tiburon 0666,David Clague,Tiburon 0666,Tiburon
4,DBCD3F40-E533-4AD0-9541-A87932C9EC78,NaN,2010-02-25 18:58:34,00:38:45:13,BF43A883-1DE2-439A-8F55-F7F215FE2D4F,cruise,Dosidicus gigas,None,ROV,2010-04-14 23:40:00.360000,...,None,3596000.0,V3527-01HD,2010-02-25 18:40:18,Ventana,None,Ventana 3527,Linda Kuhnz,Ventana 3527,Ventana
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14473,CB2468BD-3CDF-410F-810F-2B60F600B137,NaN,2009-10-24 14:25:52,00:55:09:00,B1EFDA7B-5FAD-49F5-AC34-8DEA603B0B60,descend,Dosidicus gigas,None,ROV,2010-06-28 20:28:09.947000,...,None,3600000.0,D0091-01HD,2009-10-24 13:30:47,Doc Ricketts,None,Doc Ricketts 0091,Bruce Robison,Doc Ricketts 0091,Doc Ricketts
14474,37ECE583-9025-492D-9FA4-5AACACA26EB9,NaN,2004-01-29 16:37:18,01:37:01:02,85691CF4-6EB2-4139-8BB6-5141E46EE280,descend,Dosidicus gigas,None,ROV,2004-03-23 06:44:16,...,None,3600000.0,T0649-02,2004-01-29 16:06:01,Tiburon,None,Tiburon 0649,Bruce Robison,Tiburon 0649,Tiburon
14475,3532AC35-CD1E-4B24-B58E-F0ED6F1A7602,NaN,2005-01-19 20:18:33,03:05:50:08,2FD73D58-2D57-484C-8B91-2A59A9BA5D6B,descend,Dosidicus gigas,None,ROV,2005-02-18 16:38:46.753000,...,None,3600000.0,V2614-03,2005-01-19 19:18:16.450000,Ventana,None,Ventana 2614,Bruce Robison,Ventana 2614,Ventana
14476,ECE7339A-B852-4136-8A56-60B0A92F6003,NaN,2010-02-25 19:11:53,00:52:03:18,9EAB7A72-21AF-4958-A687-E419708D009F,cruise,Dosidicus gigas,None,ROV,2010-04-15 16:29:29.883000,...,None,3596000.0,V3527-01HD,2010-02-25 18:40:18,Ventana,None,Ventana 3527,Linda Kuhnz,Ventana 3527,Ventana
14477,48C222DA-3631-4B02-9376-02E72C355EAF,NaN,2006-10-17 17:35:55,01:26:49:06,9280C4D2-5997-4005-9793-B88A3873A8A5,transect,Dosidicus gigas,None,ROV,2006-12-14 14:42:13.123000,...,None,3600000.0,V2911-02HD,2006-10-17 17:03:33,Ventana,None,Ventana 2911,Bruce Robison,Ventana 2911,Ventana

In [8]:
## Close connection

conn.close()

Error:

## Save data for exploration/conversion to DwC

In [23]:
records_df.to_csv('VARS_DwC_conversion_practice_200403.csv', index=False)

## Questions

1. What is the cursor?
2. More information about To Concept?
3. Are any of these other tables/views important?
4. image_recorded_timestamp = RecordedDate?
5. Existing column descriptions - not all on Advanced User Guide online https://www.mbari.org/products/research-software/video-annotation-and-reference-system-vars/query-interface/advanced-user-guide/